nav{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: 20px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    /* flex: 1; */
}

.sobre{
    width: 55px;
    height: 40px;
    background-color: #5BC241;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5BC241;
    width: 127px;
    height: 39px;
    border-radius: 10px;
    cursor: pointer;
}

#sobre-cadastro{
    color: white;
}

@media screen and (max-width: 400px){
   .logo{
    display: flex;
    justify-content: center;
    margin-top: 30px;
   }

   figcaption{
    font-weight: bold;
    font-size: 40px;
   }

    nav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
    }
    .menu{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 40px;
    }

    .cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5BC241;
    width: 151px;
    height: 55px;
    border-radius: 10px;
    cursor: pointer;
}

    .sobre{
    width: 233px;
    height: 81px;
    background-color: #5BC241;
    display: flex;
    justify-content: center;
    align-items: center;

}
    .cadastro-responsivo{
        font-size: 18px;
    }

    a{
        font-size: 40px;
    }

    
}
    
