*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

h1{
    margin: 20px;
}

.container {
    max-width: 500px;
    min-width: 250px;
    height: 500px;
    border: 2px solid black;
    margin: 20px;
}

.container div {
    --vermelho: red;

    background-color: var(--vermelho);

    width: 100px;
    height: 100px;
    margin: 5px;
    text-align: center;
}