*{
    text-decoration: none;
    box-sizing: border-box;
}

#ficha-cadastro{
    max-width: 450px;
    max-height: 529px;
    margin: 40px;
    font-family: "roboto";
    box-shadow: 10px;
}

div{
    border: 10px;
    border-color: gray;
}

#cadastrar{
    background-color: #00A600;
    border-radius: 5px;
    border-color: #00A600;
}

.termos{
    font-size: 10px;
}

input{
    margin-bottom: 15px;
}

h1{
    margin-bottom: 0px;
}

h2{
    margin-top: 0px;
    font-size: 15px;
}

#email{
    width: 90%;
}
#senha{
    width: 90%;
}

#nome{
    width: 40%;
    margin-right: 40px;
}

#sobrenome{
    width: 40%;
}